<h1 id="page_title">Stuff I've Written</h1>

<div id="posts_wrapper" class="skinny_wrapper">
  <% @articles.each do |article| %>
    <div class="post">
      <p class="date_large"><%= article.created_at.localtime.strftime('%^a, %d %B %Y | %H:%M') %></p>
      <h2><%= link_to article.title, article %></h2>
      <hr />
    </div>
  <% end %>
</div>

<%= will_paginate @articles %>
