<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 homepage_content about">
    <h2>About</h2>
    <hr />
    <p>Since my first computer - a <a href="https://en.wikipedia.org/wiki/Commodore_VIC-20">Commodore VIC-20</a> - I've been fascinated by making them work.  A few bad experiences in college turned me off of coding for a long time.</p>
    <p>Working with my amature-robotist brother re-ignited an old passion.  Now, I'm learning <a href="https://www.w3.org/TR/html5/">HTML5</a>, <a href="https://developer.mozilla.org/en/docs/Web/CSS/CSS3">CSS3</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a> and jQuery.</p>
    <p>I'm also learning to build apps in <a href="https://www.ruby-lang.org/en/">Ruby</a> and <a href="http://rubyonrails.org">Rails.</a></p>
    <p>This site is my thoughts, learnings, and projects.  Even the "cringe-worthy" ones.  As I learn, I get better.  My <em>work</em> gets better. And I will continue developing.</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff i've Written</h2>
    <hr />
    <% @articles.each do |article| %>
      <h3><%= link_to article.title, article %></h3>
      <p class="date"><%= article.created_at.strftime("%^a, %d %B | %H:%M") %></p>
    <% end %>
  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff i've Built</h2>
    <hr />
    <% @projects.each do |project| %>
      <h3><%= link_to project.title, project %></h3>
      <p class="date"><%= project.created_at.strftime("%^a, %d %B | %H:%M") %></p>
    <% end %>
  </div>
</div>
