<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 homepage_content about">
    <h2>About</h2>
    <hr />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <a href="#">labore</a> et dolore magna aliqua.</p>
    <p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff i've Written</h2>
    <hr />
    <% @articles.each do |article| %>
      <h3><%= link_to article.title, article %></h3>
      <p class="date"><%= article.created_at.strftime("%^a, %d %B | %H:%M") %></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Stuff i've Built</h2>
    <hr />
    <h3><a href="#">Blogger App</a></h3>
    <p class="date">Tuesday June 6, 2017</p>
    <h3><a href="#">Abba Tribute</a></h3>
    <p class="date">Tuesday June 6, 2017</p>
    <h3><a href="#">My algorithm collection</a></h3>
    <p class="date">Tuesday June 6, 2017</p>
  </div>
</div>
