<h1 id="page_title">Stuff I've Built</h1>

<div id="posts_wrapper" class="skinny_wrapper">
  <% @projects.each do |project| %>
    <div class="post">
      <p class="date_large"><%= project.created_at.localtime.strftime('%^a, %d %B %Y | %H:%M') %></p>
      <h2><%= link_to project.title, project %></h2>
      <hr />
    </div>
  <% end %>
</div>

<%= will_paginate @projects %>
